@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: bisque;
	font-family: "Dancing Script", cursive;
}

